#App {
    /*height: 368.625em;*/
    height: 200em;
    min-width: 960px;
}

html {
    scroll-behavior: smooth;
}

#body {
    align-items: center;
    
    display: flex;
    flex-direction: column;
    
}

#navbar-wrapper {
    background-color: #FAFCFF;
    width: 100%;
    padding-top: 1%;
}

#navbar {
    z-index: 999;
    opacity: 100%;
    position: sticky;
    top: 0%; /* need to use (top/left/...) with position: sticky; */
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    font-family: "Noto Sans Tai Viet-Regular", Helvetica;
    padding: 1%;
    font-size: 20px;
    left: 60%;
}

a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

h1 {
    color: #293f56;
    font-family: "Be Vietnam-Bold", Helvetica;
    font-size: 4.5rem;
}


.info_block {
    width: 90%;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 0%;
    margin: 0% 0% 10% 3%;
}

/* --Home introduction-- */

#home-introduction-wrapper {
    border: none;
    height: 5%;
    width: 70%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1.5%;
    display: flex;
}

#author {
    margin-right: 3%;
    height: 100%;
}

#info {
    display: flex;
    flex-direction: column;
}

#text-wrapper {
    font-weight: 700;
    text-shadow: 0px 4px 4px #00000040;
    margin-bottom: 0%;
}

#subtext-wrapper {
    color: #293f56;
    font-family: "Antic Slab-Regular", Helvetica;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2%;
}

/*Social medias*/
#Social-medias {
    display: flex;
    margin-bottom: 0%;
}

#linkedin-symbole {
    width: 70%;
    margin: 0%;
    padding: 0%;
}

#github-invertocat { 
    width: 120%;
}

#resume-wrapper {
    width: 10rem;
    margin-left: 5%;
    padding-right: 1.5%;
    padding-left: 1%;
    color: #393939;
    background-color: #D0DBE7;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

#resume { 
    font-size: 2.5rem;
    margin: 5%;
}

/*images*/
#More_info2 {
    position: absolute;
    left: 69%;
    top: 72%;
    opacity: 5%;
    width: 5%;
    height: 5%;
}

#More_info2:hover {
    transition: 0.3s;
    opacity: 100%;
}

#info2_icon {
    height: auto;
    width: auto;
}

#city-wrapper {
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#city {
    width: inherit;
}

#reflection {
    width: inherit;
}
    
/* --About me-- */

#about-me-wrapper {
    height: 27rem;
    padding: 1% 2% 1% 2%;
    background-color: #89A5C2;
}

#about-me-text {
    font-size: 1.5rem;
}

/* --Skills-- */

#logos {
    display: flex;
    flex-direction: column;
    width:auto;
}

.logos-block {
    display: flex;
    gap: 10%;
    align-items: center;
}

/* --Experience-- */

#caroussel {
    text-align: center;
    margin: 0%;
}

#caroussel ul {
    height: 40rem;
    padding: 0%;
    display: inline-block;
}

.caroussel_button {
    background: transparent;
    border: 0;
    height: inherit;
    position: absolute;
    z-index: 997;
    opacity: 0%;
}
.caroussel_button:hover {
    opacity: 100%;
    transition: .5s;
}
.caroussel_button img {
    height: inherit;
    cursor: pointer;
}
#left_arrow {
    float: left;
    left: 2.7rem;
}
#right_arrow {
    float: right;
    right: 6.4rem;
}

#caroussel_content {
    background-color: #D0DBE7;
    width: 85rem;
    height: 100%;
    border-radius: 5%;
    display: flex;
}
#caroussel_content img {
    padding: 2%;
    height: 80%;
    width: 50%;
    border-radius: 5%;
}

#caroussel_text {
    padding: 0% 2% 0% 2%;
}
#caroussel_text h3 {
    font-family: "Anybody-Regular", Helvetica;
    font-weight: 400;
    font-size: 3rem;
}
#caroussel_text p {
    color: #293f56;
    font-family: "Antic Slab-Regular", Helvetica;
    font-size: 2rem;
    font-weight: 400;
}

