#App {
    /*height: 4400px;
      min-width: 960px*/
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

#body {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#navbar-wrapper {
    background-color: #FAFCFF;
    min-width: 100%;
}

#navbar {
    position: fixed;
    top: 0%;
    
    display: flex;
    justify-content: space-evenly;
    font-family: "Noto Sans Tai Viet-Regular", Helvetica;
    list-style-type: none;
    font-size: 150%;
    width: 50%;
    padding: 1%;
    left: 50vw;
}
a {
    color: black;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

h1 {
    color: #293f56;
    font-family: "Be Vietnam-Bold", Helvetica;
    font-size: 4rem;
}


.info-block {
    max-width: 90%;
    min-height: 50%;
    margin: 0% 3% 10% 3%;
}

.basic-text {
    font-size: 1.5rem;
}

/* --Home introduction-- */

#home-introduction-wrapper {
    border: none;
    display: flex;
    max-width: 100%;
    margin: 10% 2% 1.5% 2%;
}

#author {
    margin-right: 3%;
    max-width: 100%;
    object-fit: contain;
}

#info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#text-wrapper {
    font-weight: 700;
    margin-bottom: 0%;
}

#subtext-wrapper {
    color: #293f56;
    font-family: "Antic Slab-Regular", Helvetica;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2%;
}

/*Social medias*/
#Social-medias {
    display: flex;
    gap: 5%;
    
}

#linkedin-symbole {
    max-width: 60%;
}

#github-invertocat { 
    max-width: 100%;
}

#resume-wrapper {
    color: #393939;
    background-color: #D0DBE7;
    border-radius: 5%;
    max-width: 50%;
    padding: 0% 3% 0% 3%;
    margin-left: 5%;
}

#resume { 
    font-size: 150%;
}

/*images*/
#More-info2 {
    position: relative;
    opacity: 10%;
}
#More-info2:hover {
    transition: 0.3s;
    opacity: 100%;
}
#info2-icon {
    margin-left: 72%;
    margin-top: 5%;;
    position: absolute;
    max-width: 5%;
}

#city-wrapper {
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#city {
    width: inherit;
}

#reflection {
    width: inherit;
}
    
/* --About me-- */

#about-me-wrapper {
    max-height: 27rem;
    padding: 1% 2% 3% 4%;
    background-color: #89A5C2;
}

/* --Skills-- */

#logos {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
}

.logos-block {
    max-width: 50%;
    display: flex;
    flex-shrink: 5;
    height: auto;
    align-items: center;
    gap: 5%;
}
.logos-block img {
    max-width: 25%;
    min-height: inherit;
}

/* --Experience-- */

#experience-wrapper {
    margin-bottom: 20%;
}
#caroussel {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.caroussel-button {
    background: transparent;
    border: 0;
    max-width: 75%;
    min-height: 100%;
    opacity: 25%;
}
.caroussel-button:hover {
    opacity: 100%;
    transition: .5s;
}
.caroussel-button img {
    max-width: 75%;
    min-height: 100%;
    cursor: pointer;
}

#caroussel-content {
    display: flex;
    flex-basis: 75%;
    background-color: #D0DBE7;
    min-width: 75%;
    max-height: 75%;
    border-radius: 5%;
}
#caroussel-content img {
    padding: 2%;
    max-width: 50%;
    object-fit: contain;
    border-radius: 5%;
}

#caroussel-text {
    padding: 0% 2% 0% 2%;
}
#caroussel-text h3 {
    font-family: "Anybody-Regular", Helvetica;
    font-weight: 400;
    font-size: 200%;
}
#caroussel-text p {
    padding: 0% 2% 0% 2%;
    color: #293f56;
    font-family: "Antic Slab-Regular", Helvetica;
    font-size: 150%;
    font-weight: 400;
}


@media (max-width: 950px) {
    #navbar {
        position: fixed;
        top: 0%;
        display: flex;
        justify-content: space-evenly;
        font-family: "Noto Sans Tai Viet-Regular", Helvetica;
        list-style-type: none;
        font-size: 100%;
        width: 50%;
        padding: 1%;
        left: 50vw;
    }
    h1 { 
        font-size: 2rem; 
     }
    /* --Home introduction-- */
    #subtext-wrapper {
        color: #293f56;
        font-family: "Antic Slab-Regular", Helvetica;
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 2%;
    }
    /* --Experience-- */
    #caroussel-text {
        padding: 3% 2% 0% 2%;
    }
    #caroussel-text h3 {
        font-family: "Anybody-Regular", Helvetica;
        font-weight: 400;
        font-size: 1rem;
    }
    #caroussel-text p {
        padding: 0% 2% 0% 2%;
        color: #293f56;
        font-family: "Antic Slab-Regular", Helvetica;
        font-size: 1rem;
        font-weight: 400;
    }
}
@media (max-width: 650px) {
    #navbar {
        position: fixed;
        top: 0%; /* need to use (top/left/...) with position: sticky; */
    
        display: flex;
        justify-content: space-evenly;
        font-family: "Noto Sans Tai Viet-Regular", Helvetica;
        list-style-type: none;
        font-size: 75%;
        width: 100%;
        padding: 1%;
        left: 0%;
    }
    #text-wrapper {
        font-weight: 700;
        margin-bottom: 0%;
        font-size: 1.5rem;
    }
    h1 { 
        font-size: 1.2rem; 
    }
    .basic-text {
        font-size: 1rem;
    }
    
    /* --Home introduction-- */
    #subtext-wrapper {
        color: #293f56;
        font-family: "Antic Slab-Regular", Helvetica;
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 2%;
    }
    #author {
        margin-right: 3%;
        max-width: 120px;
        object-fit: contain;
    }
    #resume-wrapper {
        display: flex;
        align-items: center;
        color: #393939;
        background-color: #D0DBE7;
        border-radius: 5%;
        max-width: 40%;
        padding: 0% 3% 0% 3%;
        margin-left: 5%;
    }
    #resume { 
        font-size: 100%;
    }
    /* --Experience-- */
    #caroussel-text {
        padding: 3% 2% 0% 2%;
    }
    #caroussel-text h3 {
        font-family: "Anybody-Regular", Helvetica;
        font-weight: 400;
        font-size: .75rem;
    }
    #caroussel-text p {
        padding: 0% 2% 0% 2%;
        color: #293f56;
        font-family: "Antic Slab-Regular", Helvetica;
        font-size: .5rem;
        font-weight: 400;
    }
 
}

